button.btn-secondary{
    height: 100%;
    width: 14%;
background-color: transparent;
    border-left: 1px solid white;
    float: left;
    position: relative;

    left: 10px;

}
header{
    width: 57%;
    height: 580px;
    background:url("Untitled.jpg") ;
    background-size: cover;
    float: left;
    border-radius: 10px;
    margin: 10px;
    outline: 10px solid transparent;

}
.glyphicon glyphicon-menu-down{
    background-color: white;
}
.buttons {
    height: 18%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 10px;
    align-items: flex-end;
}